doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Add your title
    meta(name="author", content="")
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel="stylesheet", href="css/main.css")
  body.no-js
    #wrapper
        #wrapper-inner
            img(src="images/logo.png", alt="Logo")
            h1 Gulp-scss-jade
            p Gulpfile.js containing all the best gulp plugins for fast converting PSD to html/css/js
    script(src="js/main.js")